

<mat-card class="example-card">
  <nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="/tasks" class="nav-link">Team Members</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
  
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item">
        <a class="nav-link" (click)="openDialog()">
          <i class="fas fa-plus-circle"></i>
          Add Member
        </a>
      </li>
    </ul>
  </nav>
  <mat-card-header>
    
  </mat-card-header>
  
  <mat-card-content>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th style="width: 20px"></th>
              <th>Name</th>
              <th>Job Title</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let team of Team; let i = index;">
              <td>{{team.$key}}</td>
              <td>
                <ul class="list-inline">
                  <li>
                      <img alt="Avatar" class="img-circle table-avatar" src="../../../assets/images/IMG_20180619_155949.jpg">
                  </li>
                </ul>
              </td>
              <td>{{team.name}}</td>
              <td>{{team.jobTitle}}</td>
              <td>{{team.email}}</td>
              <td>{{team.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </mat-card-content>
</mat-card>