

<mat-card class="example-card">
    <nav class="navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="/finance" class="nav-link">Payments</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="/invoice" class="nav-link active">Invoice</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a routerLink="/expenses" class="nav-link">Expenses</a>
          </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
  
        <!-- Add Project -->
        <li class="nav-item">
          <a class="nav-link" (click)="openDialog()">
            <i class="fas fa-plus-circle"></i>
            Add Invoice
          </a>
        </li>
      </ul>
    </nav>
    <mat-card-header>
      
    </mat-card-header>
    
    <mat-card-content>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Client</th>
                <th>Project</th>
                <th>Bill date</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of Invoice; let i = index;">
                <td>{{invoice.id}}.</td>
                <td>{{invoice.client}}</td>
                <td>{{invoice.projectName}}</td>
                <td>{{invoice.billDate}}</td>
                <td>{{invoice.amount}}</td>
                <td>{{invoice.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </mat-card-content>
</mat-card>