<body mat-dialog-content class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form [formGroup]="forgotForm">
              <h1>Forgot Password Form</h1>
              <div>
                <input type="email" class="form-control" formControlName="email" placeholder="Email" #passwordResetEmail required>
              </div>
              <!--err-->
              <div class="text-danger" *ngIf="forgotForm.controls.email.errors && forgotForm.controls.email.touched">
                Invalid Email
              </div>

              <!-- Calling ForgotPassword from AuthService Api -->
              <div>
                <a class="btn btn-default submit" (click)="firebaseService.ForgotPassword(passwordResetEmail.value)">Reset Password</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <a mat-dialog-close class="btn btn-default submit">Cancel</a>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
</body>