
<div mat-dialog-content>
  <section class="content-header">
    <!-- Main content -->
    <form class="content" [formGroup]="invoiceForm" (ngSubmit)="submitInvoiceData()" novalidate>
      <div class="row">
        <div>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Invoice</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">ID</label>
                <input type="number" formControlName="id" id="inputId" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="invoiceForm.controls.id.errors && invoiceForm.controls.id.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputName">Client</label>
                <input type="text" formControlName="client" id="inputClient" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="invoiceForm.controls.client.errors && invoiceForm.controls.client.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputName">Project</label>
                <input type="text" formControlName="projectName" id="inputProject" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="invoiceForm.controls.projectName.errors && invoiceForm.controls.projectName.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputClientCompany">Bill date</label>
                <input type="text" formControlName="billDate" id="inputBilldate" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="invoiceForm.controls.billDate.errors && invoiceForm.controls.billDate.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputProjectLeader">Amount</label>
                <input type="text" formControlName="amount" id="inputDuedate" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="invoiceForm.controls.amount.errors && invoiceForm.controls.amount.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputStatus">Status</label>
                <select id="inputStatus" formControlName="status" class="form-control custom-select" required>
                  <option selected disabled>Select one</option>
                  <option>Not Paid</option>
                  <option>Overdue</option>
                  <option>Paid</option>
                </select>
                <!--err-->
                <div class="text-danger" *ngIf="invoiceForm.controls.status.errors && invoiceForm.controls.status.touched">
                  Required
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a mat-dialog-close class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Create new Invoice" class="btn btn-success float-right">
        </div>
      </div>
    </form>
