
<div mat-dialog-content>
  <section class="content-header">
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Task</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Task</label>
                <input type="text" id="inputName" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputDescription">Task Description</label>
                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
              </div>
              <div class="form-group">
                <label for="inputClientCompany">Team Member</label>
                <input type="text" id="inputClientCompany" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputProjectLeader">Due</label>
                <input type="text" id="inputProjectLeader" class="form-control">
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a mat-dialog-close class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Create new Task" class="btn btn-success float-right">
        </div>
      </div>
  </section>
