
<div mat-dialog-content>
  <section class="content-header">
    <!-- Main content -->
    <form class="content" [formGroup]="taskForm" (ngSubmit)="submitTaskData()" novalidate>
      <div class="row">
        <div>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Task</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">ID</label>
                <input type="number" id="inputId" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputName">Title</label>
                <input type="text" formControlName="title" id="inputTitle" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="taskForm.controls.title.errors && taskForm.controls.title.touched">
                  Required
                </div>
                
              </div>
              <div class="form-group">
                <label for="inputDescription">Task Description</label>
                <textarea  formControlName="description" id="inputDescription" class="form-control" rows="4" required></textarea>
                <!--err-->
                <div class="text-danger" *ngIf="taskForm.controls.description.errors && taskForm.controls.description.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputClientCompany">Deadline</label>
                <input type="text" formControlName="deadline" id="inputDealine" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="taskForm.controls.deadline.errors && taskForm.controls.deadline.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputProjectLeader">Project</label>
                <input type="text" formControlName="project" id="inputProject" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="taskForm.controls.project.errors && taskForm.controls.project.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputName">Team Member</label>
                <input type="text" formControlName="teamMember" id="inputMemberName" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="taskForm.controls.teamMember.errors && taskForm.controls.teamMember.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputStatus">Status</label>
                <select formControlName="status" id="inputStatus" class="form-control custom-select" required>
                  <option selected disabled>Select one</option>
                  <option>To do</option>
                  <option>In Progress</option>
                  <option>Success</option>
                </select>
                <!--err-->
                <div class="text-danger" *ngIf="taskForm.controls.status.errors && taskForm.controls.status.touched">
                  Required
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a mat-dialog-close class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Create new Task" class="btn btn-success float-right">
        </div>
      </div>
    </form>
