

<mat-card class="example-card">
    <nav class="navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
          <a routerLink="/clients" class="nav-link">Clients</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
  
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item">
          <a class="nav-link" (click)="openDialog()">
            <i class="fas fa-plus-circle" ></i>
            Add Client
          </a>
        </li>
      </ul>
    </nav>
    <mat-card-header>
      
    </mat-card-header>
    
    <mat-card-content>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Company name</th>
                <th>Primary contact</th>
                <th>Project name</th>
                <th style="width: 40px">Projects</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of Client; let i = index;">
                <td>{{client.$key}}</td>
                <td>{{client.name}}</td>
                <td>{{client.primaryContact}}</td>
                <td>{{client.projectName}}</td>
                <td>{{client.projectNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </mat-card-content>
</mat-card>
