<body *ngIf="!isSignedIn" class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form [formGroup]="loginForm">
              <h1>Login Form</h1>
              <div>
                <input type="email" class="form-control" formControlName="email" placeholder="Email" required="" #email />
              </div>
              <div>
                <input type="password" class="form-control" formControlName="password" placeholder="Password" required="" #password />
              </div>
              <div>
                <a class="btn btn-default submit" (click)="onSignin(email.value, password.value)">Login</a>
                <a class="reset_pass" (click)="openDialog()">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a routerLink="/register" class="to_register"> Create Account </a>
                </p>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>