
<div mat-dialog-content>
  <section class="content-header">
    <!-- Main content -->
    <form [formGroup]="projectForm" (ngSubmit)="submitProjectData()" class="content" novalidate>
      <div  class="row">
        <div class="col-md-6">

          <!-- card -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Project</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>

            <!-- card-body -->
            <div class="card-body">

              <!-- Project id -->
              <div class="form-group">
                <label for="projectId">Project Id</label>
                <input formControlName="id" type="number" id="projectId" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.id.errors && projectForm.controls.id.touched">
                  Id is Required
                </div>
              </div>

              <!-- Project Name -->
              <div class="form-group">
                <label for="projectName">Project Name</label>
                <input  formControlName="name" type="text" id="projectName" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.name.errors && projectForm.controls.name.touched">
                  Name is Required
                </div>
              </div>

              <!-- Projeect Description -->
              <div class="form-group">
                <label for="projectDescription">Project Description</label>
                <textarea formControlName="description" id="projectDescription" class="form-control" rows="4" required></textarea>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.description.errors && projectForm.controls.description.touched">
                  Description is Required
                </div>
              </div>

              <!-- Status -->
              <div class="form-group">
                <label for="projectStatus">Status</label>
                <select formControlName="status" id="projectStatus" class="form-control custom-select" required>
                  <option selected disabled>Select one</option>
                  <option>On Hold</option>
                  <option>Canceled</option>
                  <option>Success</option>
                </select>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.status.errors && projectForm.controls.status.touched">
                  Status is Required
                </div>
              </div>

              <!-- Client Company -->
              <div class="form-group">
                <label for="projectClientCompany">Client Company</label>
                <input formControlName="clientName" type="text" id="projectClientCompany" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.clientName.errors && projectForm.controls.clientName.touched">
                  Company is Required
                </div>
              </div>

              <!-- Project Leader -->
              <div class="form-group">
                <label for="projectLeader">Project Leader</label>
                <input formControlName="projectLeader" type="text" id="projectLeader" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.projectLeader.errors && projectForm.controls.projectLeader.touched">
                  Project Leader is Required
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <div class="col-md-6">

          <!-- card -->
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title">Budget</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>

            <!-- card-body -->
            <div class="card-body">

              <!-- Estimated Budget -->
              <div class="form-group">
                <label for="projectEstimatedBudget">Estimated budget</label>
                <input formControlName="estimatedBudget" type="number" id="projectEstimatedBudget" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.estimatedBudget.errors && projectForm.controls.estimatedBudget.touched">
                  Budget is Required
                </div>
              </div>

              <!-- Total Amount Spent -->
              <div class="form-group">
                <label for="projectSpentBudget">Total amount spent</label>
                <input formControlName="amountSpent" type="number" id="projectSpentBudget" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.amountSpent.errors && projectForm.controls.amountSpent.touched">
                  Amount is Required
                </div>
              </div>

              <!-- Estimated Project Duration -->
              <div class="form-group">
                <label for="projectEstimatedDuration">Estimated project duration</label>
                <input formControlName="estimatedDuration" type="number" id="projectEstimatedDuration" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="projectForm.controls.estimatedDuration.errors && projectForm.controls.estimatedDuration.touched">
                  Duration is Required
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a mat-dialog-close class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Create new Project" class="btn btn-success float-right">
        </div>
      </div>
    </form>
