<body class="hold_transition sidebar-mini layout-fixed">
    <div *ngIf="!isSignedIn">
        <div>
            <button class="btn" [class.btn-light]="flag" type="button" style="width: 50%;" (click)="apply('login')" >Login</button>
            <button class="btn" [class.btn-light]="!flag" type="button" style="width: 50%;" (click)="apply('reg')" >Register</button>
        </div>
        <div *ngIf="flag">
            <log-in></log-in>
        </div>
        <div *ngIf="!flag">
            <app-register></app-register>
        </div>
    </div>

    <div *ngIf="isSignedIn">
        <top-nav (isLogout)="handleLogout()"></top-nav>
        <side-nav></side-nav>
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>