
<div mat-dialog-content>
  <section class="content-header">
    <!-- Main content -->
    <form class="content" [formGroup]="expenseForm" (ngSubmit)="submitExpenseData()" novalidate>
      <div class="row">
        <div>
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Expense</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">ID</label>
                <input type="number" formControlName="id" id="inputId" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="expenseForm.controls.id.errors && expenseForm.controls.id.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputClientCompany">Date</label>
                <input type="text" formControlName="date" id="inputDate" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="expenseForm.controls.date.errors && expenseForm.controls.date.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputName">Title</label>
                <input type="text" formControlName="title" id="inputTitle" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="expenseForm.controls.title.errors && expenseForm.controls.title.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea id="inputDescription" formControlName="description" class="form-control" rows="4" required></textarea>
                <!--err-->
                <div class="text-danger" *ngIf="expenseForm.controls.description.errors && expenseForm.controls.description.touched">
                  Required
                </div>
              </div>
              
              <div class="form-group">
                <label for="inputProjectLeader">Project</label>
                <input type="text" formControlName="projectName" id="inputProject" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="expenseForm.controls.projectName.errors && expenseForm.controls.projectName.touched">
                  Required
                </div>
              </div>
              <div class="form-group">
                <label for="inputName">Amount</label>
                <input type="number" formControlName="amount" id="inputMemberName" class="form-control" required>
                <!--err-->
                <div class="text-danger" *ngIf="expenseForm.controls.amount.errors && expenseForm.controls.amount.touched">
                  Required
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a mat-dialog-close class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Add new Expense" class="btn btn-success float-right">
        </div>
      </div>
    </form>
