<div class="back">
  <div class="cards">
    <div class="card-single">
      <div>
        <h1>5</h1>
        <span>Projects</span>
      </div>
      <div>
        <a routerLink="/projects"><span class="fas fa-clipboard"></span></a>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h1>5</h1>
        <span>Clients</span>
      </div>
      <div>
        <a routerLink="/clients"><span class="fas fa-users"></span></a>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h1>2</h1>
        <span>Tasks</span>
      </div>
      <div>
        <a routerLink="/events"><span class="fas fa-folder-open"></span></a>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h1>2</h1>
        <span>Completed</span>
      </div>
      <div>
        <a routerLink="/projects"><span class="fas fa-clipboard-check"></span></a>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Projects</h3>
              <div class="card-tools">
                <ul class="pagination pagination-sm float-right">
                  <li class="page-item"><a class="page-link" routerLink="/projects">View All</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Web App</td>
                    <td>In progress <span class="badge bg-warning">70%</span></td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Mobile App</td>
                    <td>Completed <span class="badge bg-success">90%</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          
          </div>
          <!-- /.card -->

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Payments</h3>
              <div class="card-tools">
                <ul class="pagination pagination-sm float-right">
                  <li class="page-item"><a class="page-link" routerLink="/finance">View All</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Client</th>
                    <th>Project</th>
                    <th style="width: 40px">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Springvale</td>
                    <td>Web App</td>
                    <td>17000</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Market</td>
                    <td>Mobile App</td>
                    <td>10000</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Tasks</h3>
              <div class="card-tools">
                <ul class="pagination pagination-sm float-right">
                  <li class="page-item"><a class="page-link" routerLink="/tasks">View All</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Title</th>
                    <th>Assigned to</th>
                    <th style="width: 40px">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>Walter</td>
                    <td>Inprogress <span class="badge bg-warning">60%</span></td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>Traver</td>
                    <td>Complete<span class="badge bg-success">95%</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Clients</h3>
              <div class="card-tools">
                <ul class="pagination pagination-sm float-right">
                  <li class="page-item"><a class="page-link" routerLink="/clients">View All</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Company name</th>
                    <th>Project</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Springvale</td>
                    <td>Web App</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Market</td>
                    <td>Mobile</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <mat-card class="example-card">
    <nav class="navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">

        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a>
        </li>

        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
        </li>
      </ul>
    </nav>
    <mat-card-header>
      
    </mat-card-header>
    
    <mat-card-content>
      <p class="every">
        gfjsgfjsgfsfkgkgkdgjhsgdhgfgsggryryryryryorhogoagogogfogogogogobdkhgsggb
        kbnibibibnininininini
        kjj k kk k kkmkmmmk
        jkmkmkmkmkmmmkm
      </p>
    </mat-card-content>
    
  </mat-card>
</div>